/* START VARIABLES */
:root {
    --main-padding: 50px;
}

/* END VARIABLES */

/* START COMPONENTS */
.main-heading {
    text-align: center;
    position: relative;
}

h2 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 4px;
}

p {
    color: white;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    line-height: 1.5;
}

/* END COMPONENTS */

/* START GLOBAL RULES */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* END GLOBAL RULES */

/* START HEADER-CONTENT */
.header {
    padding: calc(var(--main-padding) - 20px);
    min-height: 100vh;
    background-image: url("../image/DORANG\ header.jpg");
    background-size: cover;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(140% 110% at 48% 42%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
    ;
}

.header .container nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .header .container nav ul li a {
        padding-left: 2px;
    }
}

.header .container nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.header .container nav ul li:not(:last-of-type):hover a {
    text-decoration: underline;
}

.header .container nav ul li:last-child a {
    word-spacing: 4px;
}

.header .container nav ul li a img {
    width: 50px;
}

/* END HEADER-CONTENT */

/* START LANDING-SECTION */
.landing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.landing .landing-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .landing-content .text h1 {
    font-size: 40px;
    color: rgb(247, 237, 218);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
}

.landing .landing-content .text p {
    color: white;
    line-height: 1.4;
    font-size: 14px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    letter-spacing: 4px;
}

.landing .landing-content .button button {
    background-color: transparent;
    border-radius: 20px;
    padding: 8px 16px;
    margin-top: 15px;
    border-color: #fff;
    border: solid 2px #fff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.landing .landing-content .button button:hover {
    background-color: rgba(255, 255, 255, 60%);
    color: black;
}

.landing .landing-content .button i {
    color: rgb(200, 57, 57);
    padding-right: 6px;
}

/* END LANDING-SECTION */

/* START MAIN-CONTENT */
.main {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #212529;
}

.main .container .images .img-content {
    position: relative;
}

.main .container .images img {
    width: 350px;
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    opacity: 50%;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    filter: blur(2px);
}

.main .container .images img:hover {
    transform: scale(1.1);
    filter: blur(0);
}

.main .container .images .text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

@media (max-width:767px) {
    .main .container .images .text {
        padding-bottom: 25px;
    }
}

.main .container .images .text h3 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.main .container .images .img-content .text h5 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.main .container .images .text p {
    color: white;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    letter-spacing: 2px;
    width: 250px;
    margin: auto;
}

.main .container .images {
    display: flex;
    justify-content: space-around;
    padding-top: var(--main-padding);
}

@media (max-width:767px) {
    .main .container .images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .container .images img {
        width: 100%;
    }
}

@media (max-width:991px) {
    .main .container .images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:992px) and (max-width:1030px) {
    .main .container .images img {
        width: 280px;
    }
}

.main .container .link {
    text-align: center;
    padding-top: calc(var(--main-padding) - 20px);
    word-spacing: 2px;
}

.main .container .link a {
    color: #777;
    font-size: 14px;
}

.main .container .link i {
    font-size: 12px;
}

.main .container .link a:hover {
    color: white;
}

/* END MAIN-CONTENT */

/* START THE JOURNAL-CONTENT */
.journal {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #212529;
}

.journal .container .images {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

@media (max-width:991px) {
    .journal .container .images img {
        width: 100%;
    }
}

@media (max-width:767px) {
    .journal .container .images {
        flex-direction: column;
        width: 100%;
    }
}

.journal .container .images .img-box img {
    height: 320px;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
}

.journal .container .images .img-box .text {
    text-align: center;
}

.journal .container .images .text h5 {
    color: #999;
}

.journal .container .images .text h2 {
    font-size: 25px;
}

.journal .container .images .text p {
    letter-spacing: 2px;
}

.journal .container .link {
    text-align: center;
    padding-top: var(--main-padding);
    word-spacing: 2px;
}

.journal .container .link a {
    color: #777;
    font-size: 14px;
}

.journal .container .link i {
    font-size: 12px;
}

.journal .container .link a:hover {
    color: white;
}

/* END THE JOURNAL-CONTENT */

/* START CONTACTUS-SECTION */
.contactus {
    padding-top: var(--main-padding);
    position: relative;
    background-image: url("../image/DORNAG\ footer.jpg");
    background-size: cover;
    min-height: 90vh;
}

@media (max-width:767px) {
    .contactus {
        min-height: 75vh;
    }
}

@media (max-width:991px) {
    .contactus {
        min-height: 55vh;
    }
}

.contactus::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(140% 110% at 48% 42%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
    ;
}

.contactus .container .contact-content {
    position: relative;
}

.contactus .container .contact-content form {
    text-align: center;
    padding-top: var(--main-padding);
    display: block;
}

::placeholder {
    color: white;
}

.contactus .container .contact-content form input[type="text"]:focus,
.contactus .container .contact-content form input[type="email"]:focus,
.contactus .container .contact-content form textarea:focus {
    border: white solid 2px;
}

.contactus .container .contact-content form input[type="text"],
.contactus .container .contact-content form input[type="email"] {
    width: 100%;
    padding: 8px 15px;
    background-color: transparent;
    border: solid 2px #777;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    caret-color: white;
    transition: 0.5s;
}

.contactus .container .contact-content form textarea {
    background-color: transparent;
    padding: 8px 15px;
    border: solid 2px #777;
    border-radius: 4px;
    width: 100%;
    height: 150px;
    transition: 0.5s;
    outline: none;
    margin-bottom: 10px;
    display: inline-block;
}

.contactus .container .contact-content form input[type="submit"] {
    background-color: transparent;
    padding: 8px 15px;
    border: solid 2px #777;
    border-radius: 4px;
    width: 100%;
    outline: none;
    cursor: pointer;
    color: white;
}

.contactus .container .contact-content form input[type="submit"]:hover {
    background-color: white;
    opacity: 50%;
    color: black;
    border-color: white;
}

input,
select,
textarea {
    color: white;
}

/* END CONTACTUS-SECTION */

/* START FOOTER-SECTION */
.footer .container {
    position: relative;
    padding-top: calc(var(--main-padding) - 20px);
}

.footer .container .footer-content .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:767px) {
    .footer .container .footer-content .text {
        flex-direction: column;
    }

    .footer .container .footer-content .text2 p:nth-child(1) {
        border: none;
    }
}

.footer .container .footer-content .text p i {
    color: rgb(200, 57, 57);
}

.footer .container .footer-content .text p {
    padding-left: 20px;
    padding-right: 20px;
    word-spacing: 2px;
    font-size: 14px;
}

.footer .container .footer-content .text p {
    color: white;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: block;
}

.footer .container .footer-content .text2 {
    display: flex;
}

.footer .container .footer-content .text2 p:nth-child(1) {
    border-left: solid 1px white;
}

/* END FOOTER-SECTION */